In [1]:
import pandas as pd

In [2]:
oly_s = pd.read_csv("data/summer.csv")
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
oly_w = pd.read_csv("data/winter.csv")

In [4]:
#series is single column in data frame. series is like a python list

In [5]:
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [6]:
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [7]:
df = oly_w[["Year","City"]]
df.sample(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

In [8]:
city_yr_sort = df.sort_values(by=["City", "Year"], ascending=False)
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

In [9]:
#create new column as default value

In [10]:
oly_s["Season"] = "Summer"

In [11]:
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [12]:
oly_w["Season"] = "Winter"

In [13]:
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter

In [14]:
list(oly_w.columns) == list(oly_s.columns)

True

In [15]:
join_list = [oly_s, oly_w]

In [16]:
oly = pd.concat(join_list, sort = True)

In [17]:
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [18]:
oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [19]:
oly.sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
250,"HEINRICH, Alfred",Lake Placid,GER,Ice Hockey,Ice Hockey,Men,Bronze,Winter,Ice Hockey,1932
20521,"MILLER, Shannon",Barcelona,USA,Artistic G.,Balance Beam,Women,Silver,Summer,Gymnastics,1992
7313,"LABEACH, Lloyd",London,PAN,Athletics,200M,Men,Bronze,Summer,Athletics,1948
5436,"IVANOVA, Tatiana",Sochi,RUS,Luge,Mixed Relay,Women,Silver,Winter,Luge,2014
12727,"MURPHY, John Joseph",Munich,USA,Swimming,100M Backstroke,Men,Bronze,Summer,Aquatics,1972
20262,"OLSSON, Gunnar",Barcelona,SWE,Canoe / Kayak F,K-2 1000M (Kayak Double),Men,Silver,Summer,Canoe / Kayak,1992
6943,"SCHNABEL, Alois",Berlin,AUT,Handball,Handball,Men,Silver,Summer,Handball,1936
19982,"KHRISTOVA, Tzvetanka Pavlova",Barcelona,BUL,Athletics,Discus Throw,Women,Silver,Summer,Athletics,1992
22143,"MIRANDA NETO, Alvaro",Atlanta,BRA,Jumping,Team,Men,Bronze,Summer,Equestrian,1996
5471,"VAN DEN BOS, Alida Johanna",Amsterdam,NED,Artistic G.,Team Competition,Women,Gold,Summer,Gymnastics,1928
23081,"SULEYMANOGLU, Naim",Atlanta,TUR,Weightlifting,"59 - 64KG, Total (Featherweight)",Men,Gold,Summer,Weightlifting,1996
11387,"STEPANOV, Oleg",Tokyo,URS,Judo,- 68KG (Lightweight),Men,Bronze,Summer,Judo,1964
2194,"DOORMAN, Jetze",Stockholm,NED,Fencing,Épée Team,Men,Bronze,Summer,Fencing,1912
16664,"CROFT, June",Los Angeles,GBR,Swimming,400M Freestyle,Women,Bronze,Summer,Aquatics,1984
6784,"HORN, Fredrik",Berlin,NOR,Football,Football,Men,Bronze,Summer,Football,1936
12913,"DIXON, Rodney",Munich,NZL,Athletics,1500M,Men,Bronze,Summer,Athletics,1972
16054,"STRECHEN, Sigita",Moscow,URS,Handball,Handball,Women,Gold,Summer,Handball,1980
14942,"EINÖDER-STRAUBE, Thea",Montreal,FRG,Rowing,Pair Without Coxswain (2-),Women,Bronze,Summer,Rowing,1976
29155,"YOSHIDA, Saori",Beijing,JPN,Wrestling Free.,48 - 55KG,Women,Gold,Summer,Wrestling,2008
18490,"COOPER, Cynthia Lynne",Seoul,USA,Basketball,Basketball,Women,Gold,Summer,Basketball,1988

In [20]:
##df[df["column_name"] == "value_in_column"] - create a subset that holds results from sochi olys

In [21]:
#to make csv: oly.to_csv("data/olympics.csv", encoding = "UTF-8", index = False)

In [22]:
df_sochi = oly[oly["City"] == "Sochi"]

In [23]:
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [24]:
#How many values in a column

In [25]:
df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [26]:
df_sochi["Medal"].value_counts()

Gold      206
Bronze    204
Silver    202
Name: Medal, dtype: int64

In [27]:
oly_w.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal', 'Season'],
      dtype='object')

In [28]:
#To improve memory allocation, create categories

In [29]:
oly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Athlete     36935 non-null  object
 1   City        36935 non-null  object
 2   Country     36931 non-null  object
 3   Discipline  36935 non-null  object
 4   Event       36935 non-null  object
 5   Gender      36935 non-null  object
 6   Medal       36935 non-null  object
 7   Season      36935 non-null  object
 8   Sport       36935 non-null  object
 9   Year        36935 non-null  int64
dtypes: int64(1), object(9)
memory usage: 3.1+ MB

In [30]:
oly[["Gender", "Medal", "Season"]] = oly[["Gender", "Medal", "Season"]].astype("category")

In [31]:
oly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Athlete     36935 non-null  object
 1   City        36935 non-null  object
 2   Country     36931 non-null  object
 3   Discipline  36935 non-null  object
 4   Event       36935 non-null  object
 5   Gender      36935 non-null  category
 6   Medal       36935 non-null  category
 7   Season      36935 non-null  category
 8   Sport       36935 non-null  object
 9   Year        36935 non-null  int64
dtypes: category(3), int64(1), object(6)
memory usage: 2.4+ MB

In [32]:
#Filtering by dates
oly[oly["Year"] == 1900]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
151,"HALMAY, Zoltan",Paris,HUN,Swimming,1500M Freestyle,Men,Bronze,Summer,Aquatics,1900
152,"JARVIS, John Arthur",Paris,GBR,Swimming,1500M Freestyle,Men,Gold,Summer,Aquatics,1900
153,"WAHLE, Otto",Paris,AUT,Swimming,1500M Freestyle,Men,Silver,Summer,Aquatics,1900
154,"DROST, Johannes",Paris,NED,Swimming,200M Backstroke,Men,Bronze,Summer,Aquatics,1900
155,"HOPPENBERG, Ernst",Paris,GER,Swimming,200M Backstroke,Men,Gold,Summer,Aquatics,1900
...,...,...,...,...,...,...,...,...,...,...
658,"COLLAS, Jean",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
659,"GONDOUIN, Charles",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
660,"HENRIQUEZ DE ZUBIERRA, Constantin",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
661,"ROFFO, Joseph",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
662,"SARRADE, Emile",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900

In [33]:
oly[(oly["Year"] >= 1920) & (oly["Year"] <= 1950)]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
2822,"PRIESTE, Harry",Antwerp,USA,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1920
2823,"PINKSTON, Clarence",Antwerp,USA,Diving,10M Platform,Men,Gold,Summer,Aquatics,1920
2824,"ADLERZ, Erik",Antwerp,SWE,Diving,10M Platform,Men,Silver,Summer,Aquatics,1920
2825,"OLLIVIER, Eva",Antwerp,SWE,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1920
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,DEN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1920
...,...,...,...,...,...,...,...,...,...,...
566,"HASU, Heikki",St.Moritz,FIN,Nordic Combined,Individual,Men,Gold,Winter,Skiing,1948
567,"HUHTALA, Martti",St.Moritz,FIN,Nordic Combined,Individual,Men,Silver,Winter,Skiing,1948
568,"SCHJELDERUP, Thorleif",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Bronze,Winter,Skiing,1948
569,"HUGSTED, Petter",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Gold,Winter,Skiing,1948
570,"RUUD, Birger",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Silver,Winter,Skiing,1948

In [34]:
#declare filter values
my_filter_1 = oly["Year"] >= 1920
my_filter_2 = oly["Year"] <= 1950

oly[my_filter_1 & my_filter_2]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
2822,"PRIESTE, Harry",Antwerp,USA,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1920
2823,"PINKSTON, Clarence",Antwerp,USA,Diving,10M Platform,Men,Gold,Summer,Aquatics,1920
2824,"ADLERZ, Erik",Antwerp,SWE,Diving,10M Platform,Men,Silver,Summer,Aquatics,1920
2825,"OLLIVIER, Eva",Antwerp,SWE,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1920
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,DEN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1920
...,...,...,...,...,...,...,...,...,...,...
566,"HASU, Heikki",St.Moritz,FIN,Nordic Combined,Individual,Men,Gold,Winter,Skiing,1948
567,"HUHTALA, Martti",St.Moritz,FIN,Nordic Combined,Individual,Men,Silver,Winter,Skiing,1948
568,"SCHJELDERUP, Thorleif",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Bronze,Winter,Skiing,1948
569,"HUGSTED, Petter",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Gold,Winter,Skiing,1948
570,"RUUD, Birger",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Silver,Winter,Skiing,1948

In [35]:
filter_1920 = oly["Year"] >= 1920
filter_1950 = oly["Year"] <= 1950
filter_tennis = oly["Sport"] == "Tennis"

oly[filter_1920 & filter_1950 & filter_tennis]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
4026,"ALBARRAN, Pierre",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4027,"DECUGIS, Max",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4028,"TURNBULL, Oswald Graham Noel",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4029,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4030,"KASHIO, Seiichiro",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4031,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4032,"D'AYEN, Elisabeth",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4033,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4034,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4035,"MCNAIR, Winifred Margaret",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4036,"BEAMISH, Winifred Geraldine",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4037,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4038,"ZEMLA, Ladislav",Antwerp,TCH,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1920
4039,"DECUGIS, Max",Antwerp,FRA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1920
4040,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1920
4041,"SKRBKOVA, Milada",Antwerp,TCH,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1920
4042,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1920
4043,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1920
4044,"WINSLOW, Charles Lyndhurst",Antwerp,RSA,Tennis,Singles,Men,Bronze,Summer,Tennis,1920
4045,"RAYMOND, Louis",Antwerp,RSA,Tennis,Singles,Men,Gold,Summer,Tennis,1920
4046,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Singles,Men,Silver,Summer,Tennis,1920
4047,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1920
4048,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Singles,Women,Gold,Summer,Tennis,1920
4049,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Singles,Women,Silver,Summer,Tennis,1920
4926,"BOROTRA, Jean R.",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4927,"LACOSTE, Jean René",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4928,"HUNTER, Francis Townsend",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4929,"RICHARDS, Vincent",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4930,"BRUGNON, Jacques",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4931,"COCHET, Henri",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4932,"COLYER, Evelyn Lucy",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4933,"SHEPHERD BARRON, Dorothy Cunliffe",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4934,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4935,"WILLS-MOODY, Helen",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4936,"COVELL, Phyllis Lindrea",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4937,"MAC KANE, Kathleen",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4938,"TIMMER, Hendrik",Paris,NED,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1924
4939,"WILLIAMS, Richard Norris III",Paris,USA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1924
4940,"RICHARDS, Vincent",Paris,USA,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1924
4941,"BOUMAN, Cornelia",Paris,NED,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1924
4942,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1924
4943,"JESSUP, Marion",Paris,USA,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1924
4944,"DE MORPURGO, Umberto",Paris,ITA,Tennis,Singles,Men,Bronze,Summer,Tennis,1924
4945,"RICHARDS, Vincent",Paris,USA,Tennis,Singles,Men,Gold,Summer,Tennis,1924
4946,"COCHET, Henri",Paris,FRA,Tennis,Singles,Men,Silver,Summer,Tennis,1924
4947,"MAC KANE, Kathleen",Paris,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1924
4948,"WILLS-MOODY, Helen",Paris,USA,Tennis,Singles,Women,Gold,Summer,Tennis,1924
4949,"VLASTO, Julie P.",Paris,FRA,Tennis,Singles,Women,Silver,Summer,Tennis,1924

In [36]:
filter_1920 = oly["Year"] >= 1920
filter_1950 = oly["Year"] <= 1950
filter_women = oly["Gender"] == "Women"

In [37]:
oly[filter_1920 & filter_1950 & filter_women & filter_tennis]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
4032,"D'AYEN, Elisabeth",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4033,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4034,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4035,"MCNAIR, Winifred Margaret",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4036,"BEAMISH, Winifred Geraldine",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4037,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4041,"SKRBKOVA, Milada",Antwerp,TCH,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1920
4042,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1920
4043,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1920
4047,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1920
4048,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Singles,Women,Gold,Summer,Tennis,1920
4049,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Singles,Women,Silver,Summer,Tennis,1920
4932,"COLYER, Evelyn Lucy",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4933,"SHEPHERD BARRON, Dorothy Cunliffe",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4934,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4935,"WILLS-MOODY, Helen",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4936,"COVELL, Phyllis Lindrea",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4937,"MAC KANE, Kathleen",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4941,"BOUMAN, Cornelia",Paris,NED,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1924
4942,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1924
4943,"JESSUP, Marion",Paris,USA,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1924
4947,"MAC KANE, Kathleen",Paris,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1924
4948,"WILLS-MOODY, Helen",Paris,USA,Tennis,Singles,Women,Gold,Summer,Tennis,1924
4949,"VLASTO, Julie P.",Paris,FRA,Tennis,Singles,Women,Silver,Summer,Tennis,1924

In [38]:
#find names of sports 
oly["Sport"].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon', 'Canoe', 'Biathlon', 'Bobsleigh', 'Curling', 'Skiing',
       'Luge'], dtype=object)

In [39]:
fil_boxing = oly["Sport"] == "Boxing"
fil_women = oly["Gender"] == "Women"

oly[fil_boxing & fil_women]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
29876,"ADAMS, Nicola",London,GBR,Boxing,51 KG,Women,Gold,Summer,Boxing,2012
29877,"REN, Cancan",London,CHN,Boxing,51 KG,Women,Silver,Summer,Boxing,2012
29878,"ESPARZA, Marlen",London,USA,Boxing,51 KG,Women,Bronze,Summer,Boxing,2012
29879,"KOM, Mary",London,IND,Boxing,51 KG,Women,Bronze,Summer,Boxing,2012
29896,"TAYLOR, Katie",London,IRL,Boxing,60 KG,Women,Gold,Summer,Boxing,2012
29897,"OCHIGAVA, Sofya",London,RUS,Boxing,60 KG,Women,Silver,Summer,Boxing,2012
29898,"ARAUJO, Adriana",London,BRA,Boxing,60 KG,Women,Bronze,Summer,Boxing,2012
29899,"CHORIEVA, Mavzuna",London,TJK,Boxing,60 KG,Women,Bronze,Summer,Boxing,2012
29912,"SHIELDS, Claressa",London,USA,Boxing,75 KG,Women,Gold,Summer,Boxing,2012
29913,"TORLOPOVA, Nadezda",London,RUS,Boxing,75 KG,Women,Silver,Summer,Boxing,2012
29914,"LI, Jinzi",London,CHN,Boxing,75 KG,Women,Bronze,Summer,Boxing,2012
29915,"VOLNOVA, Marina",London,KAZ,Boxing,75 KG,Women,Bronze,Summer,Boxing,2012

In [40]:
oly["Season"].value_counts()

Summer    31165
Winter     5770
Name: Season, dtype: int64

In [41]:
oly["Year"]

0       1896
1       1896
2       1896
3       1896
4       1896
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 36935, dtype: int64

In [44]:
totals_by_year = oly["Year"].value_counts(ascending = False)

totals_by_year

2008    2042
1992    2030
2000    2015
2004    1998
2012    1949
1996    1859
1988    1810
1984    1681
1980    1605
1976    1515
1972    1385
1920    1298
1968    1230
1964    1195
1956    1035
1960    1029
1952    1025
1924    1002
1936     983
1948     954
1912     885
1908     804
1928     799
1932     731
2014     612
2006     531
2010     529
1900     512
2002     481
1904     470
1998     447
1994     343
1896     151
Name: Year, dtype: int64

In [45]:
filter_france = oly["Country"] == "FRA"
filter_gold = oly["Medal"] == "Gold"

all_gold_france = oly[filter_france & filter_gold]

In [46]:
all_gold_france

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
51,"FLAMENG, Léon",Athens,FRA,Cycling Track,100KM,Men,Gold,Summer,Cycling,1896
54,"MASSON, Paul",Athens,FRA,Cycling Track,10KM,Men,Gold,Summer,Cycling,1896
59,"MASSON, Paul",Athens,FRA,Cycling Track,1KM Time Trial,Men,Gold,Summer,Cycling,1896
62,"MASSON, Paul",Athens,FRA,Cycling Track,Sprint Indivual,Men,Gold,Summer,Cycling,1896
65,"GRAVELOTTE, Eugène-Henri",Athens,FRA,Fencing,Foil Individual,Men,Gold,Summer,Fencing,1896
...,...,...,...,...,...,...,...,...,...,...
5105,"LAMY CHAPPUIS, Jason",Vancouver,FRA,Nordic Combined,"Individual, Ski Jumping K90 (70M)",Men,Gold,Winter,Skiing,2010
5163,"FOURCADE, Martin",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Gold,Winter,Biathlon,2014
5167,"FOURCADE, Martin",Sochi,FRA,Biathlon,20KM,Men,Gold,Winter,Biathlon,2014
5678,"CHAPUIS, Jean Frederic",Sochi,FRA,Freestyle Skiing,Ski Cross,Men,Gold,Winter,Skiing,2014
5752,"VAULTIER, Pierre",Sochi,FRA,Snowboard,Snowboard Cross,Men,Gold,Winter,Skiing,2014

In [48]:
all_gold_france["Sport"].value_counts().head()

Fencing       116
Cycling        66
Handball       30
Aquatics       24
Equestrian     23
Name: Sport, dtype: int64